.page-head-content{
    display: flex;
    flex-direction: row;  
}
.page-search{
    flex: 1;
}
.page-search-component{
    display: flex;
    border-radius: 10px;
    border-color: #fff;
    border-width: 2px;
    flex-direction: row;
    height: 50px;
    padding: 15px;
    max-width: 530px;
    background-color: #0000000f;
    align-items: center;
}
input[type="text"].field-input{
    color: #fff;
    flex: 1;
    border:none;
    outline: none;
    width: 100%;
    margin-right: 10px;
    background-color: #00000000;
}
.page_content{
    margin-top: 30px;
}
.page-download{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border-color: #5f5f5f;
    border-width: 1px;
    border-style: solid;
    height: 50px;
    width: 150px;
    margin-left: 10px;
    padding: 10px;
    background-color: #0000000f;
    align-items: center;
    text-align: center;
}
.page-download:hover{
    display: flex;
    justify-content: center;
    background-color: #58585844;
}
.show_more{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.date_row{
    display: flex;
    margin-left: 20px;
    align-items: center;
    padding-top: 20px;
}
.table_body_extra{
    border-radius: 5px;
    border-color: #00a3f5;
    border-width: 1px;
    border-style: solid;
}
.table_extra{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.table_row{
    display: flex;
    flex-direction: row;
    height: 56px;
    padding: 20px;
    align-items: center;
    border-bottom-color: #505050;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.first_col{
    display: flex;
    flex: 0 0 30%;
    flex-direction: row;
    align-items: center;
}
.first_col_detail{
    padding: 5px;    
    margin-left: 5px;
}
.first_col_type{
    font-size: 14px;
    color: #ffffff;
}
.first_col_date{
    font-size: 14px;
    color: #606060;
}
.img_icon{
    height: 25px;
    width: 25px;
}
.content_second_col{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.trad_second_col{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}
.second_col{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}
.trade_one{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}
.second_col_detail{
    padding: 5px;
    margin-left: 5px;
}
.second_col_value{
    font-size: 14px;
    color: #ffffff;
}
.second_col_price{
    font-size: 14px;
    color: #606060;
}

.img_network{
    height: 32px;
    width: 32px;
}

.third_col{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: auto;
}
.third_col_detail{
    padding: 5px;
}
.third_col_status{
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 5px;
}
.third_col_address{
    font-size: 12px;
    color: #606060;
    overflow: hidden;
    white-space: nowrap;  
    text-overflow: ellipsis;
    border-radius: 10px;
    border-color: #fff;
    border-width: 2px;
    background-color: #00000050;
    align-items: center;
    padding: 3px;
    width: 110px;
}
.img_trade{
    height: 10px;
    width: 10px;
    margin-right: 5px;
}
.address_icon{
    height: 18px;
    width: 18px;
    border-radius: 9px;
    margin-right: 5px;
}

.receive_color{
    color: #01a643;
}
.empty_row{
    display: flex;
    flex: 1;
}
.fail_row{
    font-size: 12px;
    color: #ff5c5c;
    border-radius: 10px;
    background-color: #ff5c5c48;
    margin-left: auto;
    margin-right: 8px;
    padding: 0px 8px 0px 8px;
    position: relative;
}
.fee_row{
    margin-right: 20px;
    margin-left: 20px;
}
.fee_title{
    font-size: 14px;
}
.fee_value{
    font-size: 14px;
    color: #606060;
}
.rate_row{
    margin-right: 20px;
}
.rate_title{
    font-size: 14px;
}
.rate_value{
    font-size: 14px;
    color: #606060;
}
.trans_title{
    font-size: 14px;
}
.trans_value{
    display: flex;
    font-size: 14px;
    color: #606060;
    flex-direction: row;
    align-items: center;
}
.copy_hash{
    height: 20px;
    color: #00a3f5;
}
.table-responsive{
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 900px) {
    .table_row{
        display: flex;
        flex-direction: column;
        height: 120px;
        padding: 20px;
        align-items: flex-start;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .first_col {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .first_col_detail{
        display: flex;
        flex-direction: row;
    }
    .first_col_type{
        margin-right: 10px;
    }
    .content_second_col{
        width: 100%;
    }
    .third_col{
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .page-head-content{
        display: flex;
        flex-direction: column;  
    }
    .page-download{
        margin-top: 10px;
        margin-left: 0px;        
    }
}

@media (max-width: 560px) {
    .page-head-content{
        display: flex;
        flex-direction: column;  
    }
    .page-download{
        margin-top: 10px;
        margin-left: 0px;
        text-align: center;
        align-items: center;
    }
    .page-search{       
        display: block;
        flex-direction: row;
    }
    .table_extra {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
    }
    .rate_row{
        margin-top: 5px;
        margin-left: 20px;
    }
    .trans_row{
        margin-top: 5px;
        margin-left: 20px;
    }
}

@media (max-width: 360px) {
    .table_row{
        padding: 5px;
    }
    .card-body{
        padding: 5px;
    }
}

.more_loading-page{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100px;
}
.more_lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .more_lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .more_lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .more_lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .more_lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .more_lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .more_lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .more_lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .more_lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .more_lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .more_lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .more_lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .more_lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .more_lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .more_lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .more_lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .more_lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .more_lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .more_lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes more_lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }